.krinkle-wmfBugZillaPortal-overview td {
	vertical-align: top;
	text-align: right;
	line-height: 1.7;
}

.krinkle-wmfBugZillaPortal-overview ul {
	list-style: none;
}

.krinkle-wmfBugZillaPortal-overview-wm tr:nth-child(odd) {
	background: #f2f2f2;
}

.krinkle-wmfBugZillaPortal-overview-wm tr:hover {
	background: #fff;
}
